.mod_vkgallery_treeview  ul {
	list-style-type: none;
}

.mod_vkgallery_treeview  label:hover {
	border-right:2px solid black;
}

.mod_vkgallery_treeview  a {
	display: block;
}

.mod_vkgallery_treeview  a:hover {
	border-right:2px solid black;
}