.mod_vkgallery_treeview  ul {
	list-style-type: none;
}

.mod_vkgallery_treeview  a {
	display: block;
}

#mod_vkgallery_treeview-0 {
	margin: 0px;
}

.mod_vkgallery_treeview label:hover {
  background-color:#eeeeee; 
}

.mod_vkgallery_treeview a:hover {
  background-color:#eeeeee; 
  text-decoration:none;
}